@import url(./components/links.css);
@import url(./components/searchBar.css);
@import url(./components/pagination.css);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(13, 17, 23);
}
